body {
  background-color: #9376E0;
}

#prompt-for-symbol {
  text-align: center;
  font-family: 'Caveat', cursive;
  font-family: 'Lexend', sans-serif;
  font-size: 48px;
}

#form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18px;
}

.main-container {
  margin: 15px;
  display: flex;
  align-items: flex-start;
  align-items: stretch;
  justify-content: center;
  flex-basis: 720px;
  font-family: 'Caveat', cursive;
  font-family: 'Lexend', sans-serif;
}

.company-profile {
  background-color: white;
  margin: 9px;
  flex: 1;
  border-radius: 30px;
}

.main-container h1{
  margin:5px;
}

.main-container h5 {
  margin: 5px;
  font-size: 110%;
}

.main-container p {
  margin-left: 15px;
}

.price-stock-quote {
  background-color: white;
  margin: 9px;
  flex: 1;
  border-radius: 30px;
}

img {
  float: right;
  width: 40%;
  margin: 0px 0px 10px 0px;
  border-radius: 30px;
}

h1 {
  margin: 5px;
}

h5 {
  margin: 5px;
}

p {
  margin: 5px;
}

.stock-examples > p {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Caveat', cursive;
  font-family: 'Lexend', sans-serif;
}

#input {
  flex: 1;
  border-style: none;
  outline: 0;
  border-radius: 63px;
  padding: 15px;
  font-size: 1.3em;
  min-width: 100px;
}

#button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

#submit-button {
  flex: 1;
  background-color: white;
  border-style: none;
  border-radius: 15px;
  font-size: 1.3em;
  padding: 5px;
}

@media (max-width: 600px) {
  .main-container {
    flex-direction: column;
  }


  img {
    float: none;
    width: 100%;
  }
}